$badge-padding: px2rems(11px) px2rems(16px);
$badge-radius: 2px;

.badge {
  background-color: $color-light-2;
  border: 1px solid $color-light-2;
  border-radius: px2rems($badge-radius);
  color: $color-white;
  display: inline-block;
  font-variant: all-small-caps;
  font-weight: 600;
  line-height: 1;
  padding: $badge-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;

  a {
    text-decoration: none;
  }

  a,
  a:hover,
  a:focus,
  a:visited {
    color: inherit;
  }
}

.badge--danger {
  background-color: $color-red-3;
  border-color: $color-red-3;
  color: $color-white;
}

.badge--warning {
  background-color: $color-yellow-3;
  border-color: $color-yellow-3;
  color: $color-white;
}

.badge--success {
  background-color: $color-green-3;
  border-color: $color-green-3;
  color: $color-white;
}
