$table-list-header-padding: px2rems(11px) px2rems(16px);

.table-list-header {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: $table-list-header-padding;

  &__item {
    color: $color-dark-3;
    font-variant: all-small-caps;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.table-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $table-list-header-padding;
    background-color: $color-white;

    &:hover,
    &:focus {
      background-color: $color-light-4;
    }

    &:not(:last-child),
    &:only-child {
      border-bottom: 1px solid $color-light-4;
    }
  }
}
