$color-light-1: #9cacba;
$color-light-2: #bac8d3;
$color-light-3: #c8d2da;
$color-light-4: #eef3f7;

$color-dark-1: #23272a;
$color-dark-2: #41474c;
$color-dark-3: #59636b;

$color-white: #fff;
$color-black: #000;

$color-green-1: #00a265;
$color-green-2: #00c97e;
$color-green-3: #52d7a5;
$color-green-4: #a9ebd2;

$color-yellow-1: #dea64b;
$color-yellow-2: #ffb867;
$color-yellow-3: #ffd99c;
$color-yellow-4: #ffe1be;

$color-blue-1: #008aab;
$color-blue-2: #00a5c9;
$color-blue-3: #43caea;
$color-blue-4: #cdf2ff;

$color-red-1: #bb2e3e;
$color-red-2: #ed4a59;
$color-red-3: #fc7b87;
$color-red-4: #fcaab2;
