$spacing-map: (
  '-xs': 7px,
  '-s': 11px,
  '': 16px,
  '-l': 23px,
  '-xl': 40px,
  '-xxl': 74px
);

@each $suffix, $spacing in $spacing-map {
  .margin-top#{$suffix} {
    margin-top: px2rems($spacing);
  }

  .margin-left#{$suffix} {
    margin-left: px2rems($spacing);
  }

  .margin-right#{$suffix} {
    margin-right: px2rems($spacing);
  }

  .margin-bottom#{$suffix} {
    margin-bottom: px2rems($spacing);
  }

  .margin-horizontal#{$suffix} {
    margin-left: px2rems($spacing);
    margin-right: px2rems($spacing);
  }

  .margin-vertical#{$suffix} {
    margin-top: px2rems($spacing);
    margin-bottom: px2rems($spacing);
  }

  .margin#{$suffix} {
    margin: px2rems($spacing);
  }
}

@each $suffix, $spacing in $spacing-map {
  .padding-top#{$suffix} {
    padding-top: px2rems($spacing);
  }

  .padding-left#{$suffix} {
    padding-left: px2rems($spacing);
  }

  .padding-right#{$suffix} {
    padding-right: px2rems($spacing);
  }

  .padding-bottom#{$suffix} {
    padding-bottom: px2rems($spacing);
  }

  .padding-horizontal#{$suffix} {
    padding-left: px2rems($spacing);
    padding-right: px2rems($spacing);
  }

  .padding-vertical#{$suffix} {
    padding-top: px2rems($spacing);
    padding-bottom: px2rems($spacing);
  }

  .padding#{$suffix} {
    padding: px2rems($spacing);
  }
}
